<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- link css  -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- Title Page -->
    <title>vue-todolist</title>
</head>

<body>
    <div id="app">
        <!-- app_header  -->
        <header class="app_header text-center ">
            <h1 class="m-3">Lista della spesa</h1>
        </header>
        <!-- #End app_header  -->

        <!--  app_main -->
        <main class="app_main text-center">
            <div class="m-3">
                <input type="text" v-model="newTask" @keyup.enter="addToList()">
                <button @click="addToList()">Aggiungi alla lista</button>
            </div>
            <div>
                <ul class="list-unstyled gap-1">
                    <li :class="{'text-decoration-line-through': task.done}" v-for="(task, index) in tasks">
                        <i @click="removeFromList(index)" class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span @click="markAsDone(index)">{{task.text}}</span>
                    </li>
                </ul>
            </div>
        </main>
        <!-- #end app_main -->

        <!-- app_footer  -->
        <footer class="app_footer ">
        </footer>
        <!-- #End app_footer  -->

        <!-- #End div id app for Vue jS -->
    </div>

    <!-- EXTERNAL Vue3 JS CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- LINK main JS-->
    <script src="./assets/js/main.js"></script>
</body>

</html>